<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<h2>Upper Case pipe</h2>
My name is {{ name | uppercase }}
<h2>Lowe Case pipe</h2>
My name is {{ name | lowercase }}
<h2>Date pipe</h2>
My birthday is {{ birthdate | date }}
<h2>Custom pipe(return true if Age is divided by 2)</h2>
<ul>
  <li *ngFor="let age of ages">
    {{ age }} : {{age  | myCustom}}
  </li>
</ul>

<input #box>
<button (click)="addAge(box.value)">Add Age</button>
